@use "../../styles/abstracts/variables" as *;

.NotFoundContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.errorContainer {
    position: relative;
    width: max-content;
    height: max-content;
    padding: 15px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.errorDescription {
    font-size: 28px;
    font-weight: 600;
}

.errorTitle {
    font-size: 36px;
    font-weight: 600;
    color: rgb(194, 75, 75);
}

.subDescription {
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.65);
}

@media (max-width: $media-telephone-big) {
    .errorDescription {
        font-size: 20px;
    }

    .subDescription {
        font-size: 16px;
    }
}

@media (max-width: $media-telephone-medium) {
    .errorDescription {
        font-size: 18px;
    }

    .subDescription {
        font-size: 14px;
    }
}

@media (max-width: $media-telephone-small) {
    .errorDescription {
        font-size: 16px;
    }
}